header {
    width: 100%;
    margin: 0 auto;
    line-height: 2 ;
    ul {
        height: 60px;
        list-style: none;
        gap: 20px;
        display: flex;        
        justify-content: center; 
        a {
           @include nav-button(white,green);
        }
    }
}

@mixin nav-button($color, $bgcolor) {
    color: $color;
    background-color: $bgcolor;
    text-decoration: none;
    font-size:large;
    border: 1px solid green;
    border-radius: 5px;
    margin: 20px;
    padding: 15px 30px;
}

.article{
    border: 1px solid green;
}


